{{ define "main" }}
<div class="row g-4">
	{{ $allProjects := .RegularPages }}

	{{ if le (len $allProjects) 0 }}
	<p class="text-center d-flex justify-content-center align-items-center fs-2">
		Nothing here yet...
	</p>
	{{ else }}
		{{ range $allProjects}}
		<div class="col-12">
			<article class="card p-3">
				{{ partial "page-tags.html" . }}

				<a href=" {{ .Permalink }}" class="text-white text-decoration-none mt-2">
					<h2>{{ .Title }}</h2>
				</a>

				<p>{{ .Summary }}</p>

				{{ partial "project-info.html" . }}
			</article>
		</div>
		{{ end }}
	{{ end }}

</div>
{{ end }}