// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$theme-colors: (
        "primary": #1F2937,
        "dark": #1E2022,
        "secondary-dark": #181A1B,
        "secondary": #93A8AC,
        "light": #F4F4F4,
);
// Input field
$input-focus-border-color: tint-color($dark, 50%);
$input-focus-box-shadow: 0 0 0 0;

$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 4,
        7: $spacer * 5,
        8: $spacer * 6,
);

// Pagination
$pagination-active-color: $component-active-color;
$pagination-active-bg: map-get($theme-colors, "primary");
$pagination-active-border-color: tint-color($pagination-active-bg, 35%);

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/pagination";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

.nav-link-text {
  @extend .nav-link;
  @extend .text-white
}

p, ul { // specifying so code blocks don't get affected
  line-height: 2.5em;
}


// all except last child of #recent-posts-item
#recent-posts-item {
  @extend .pb-2;

  &:not(:last-child) { // Apply to all except last child
    @extend .border-bottom;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;

  .material-symbols-outlined {
    @extend .bg-dark;
    @extend .fs-1;
    @extend .rounded-5;
    @extend .text-light;
    @extend .p-2;
  }
}

#table-of-content > #content {
  ul {
    @extend .d-flex, .flex-column, .gap-1;
    list-style-type: circle;


    li {
      @extend .ps-2;

      a {
        @extend .link-light, .link-offset-2
      }
    }
  }
}


#markdown-content {
  // increase spacing between list items like 1. List one 2. List two, etc
  li {
    @extend .mb-3;
  }

  pre {
    @extend .bg-dark;
    @extend .rounded-3;
    @extend .p-2;
    @extend .overflow-auto;
    @extend .text-light;
  }

  code {
    @extend .bg-dark;
    @extend .rounded-3;
  }

  blockquote {
    @extend .border-start;
    @extend .ps-3;
    @extend .pe-3;
    @extend .text-muted;
    @extend .border-light;
    @extend .border-3;
  }

  h2 {
    width: fit-content;
    @extend .border-bottom;
    @extend .border-light;
    @extend .border-3;
  }

  h2:not(:first-child) { // all except first h2
    @extend .pb-1;
    @extend .mb-4;
    @extend .mt-5;
  }
}